<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    <!-- STYLES -->
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="нек4 - съемка панорам для Яндекс.Карт" />
    <meta property="og:description" content="Получите возможность публиковать панорамы ваших клиентов на Яндекс.Картах." />
    <meta property="og:url" content="http://neq4.ru/partners" />
    <meta property="og:image" content="http://neq4.ru/partners/img/work-process-bg.jpg" />
    <!-- comagic start -->
<script type="text/javascript">
var __cs = __cs || [];
__cs.push(["setCsAccount", "EdK4Er4ik31tcNwfFXVgMR_UZrM2WHyz"]);
__cs.push(["setCsHost", "//server.comagic.ru/comagic"]);
</script>
<script type="text/javascript" async src="//app.comagic.ru/static/cs.min.js"></script>
    <!-- comagic end -->

</head>

<body>

<div class="preaload-images"></div>

<div class="all-wrap">

    {#HEADER#}
    <header class="header">
        <div class="header__container container clearfix">
            <a href="http://neq4.ru" class="header__logo">
                <img src="img/logo.svg" alt="Neq4" class="header__logo-img">
            </a>

            <div class="header__contacts">
                <div class="header__phones">
                    <p class="header__phone">+7 495 995-58-24</p>
                    <div class="header__sub-phone">
                        <span class="header__worktime">В будни с 10:00 до 20:00</span>
                    </div>
                </div>
                <div class="header__buttons">
                    <div class="header__button">
                        <a href="#request" class="header__button-link btn js-smooth-scroll">
                            <span class="btn__overlay"></span>
                            <span class="btn__text">ЗАРЕГИСТРИРОВАТЬСЯ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {#/HEADER#}

    {#MAIN CONTENT#}
    <section class="main-content">
        {% block content %}
        {% endblock %}
    </section>
    {#/MAIN CONTENT#}

    {#FOOTER#}
    <footer class="footer" id="docs">
        <div class="footer__container container clearfix">
            <div class="footer__main">
                <div class="footer__column footer__column_special">
                    <p class="footer__column-company-name">© 2006–2017 нек4</p>
                    <div class="footer__column-address">
                        <p class="footer__column-address-line">119270, Москва, </p>
                        <p class="footer__column-address-line">Лужнецкая набережная,</p>
                        <p class="footer__column-address-line">дом 10А, строение 3</p>
                    </div>
                </div>
                <div class="footer__column-wrap">
                    <div class="footer__column">
                        <p class="footer__column-phone">+7 495 995-58-24</p>
                        <div class="footer__column-mail-wrap">
                            <a href="mailto: info@neq4.ru" class="footer__column-mail">info@neq4.ru</a>
                        </div>
                        <div class="footer__column-feedback-wrap">
                            <a href="http://neq4.ru/about/contact#write-us" class="footer__column-feedback">Обратная связь</a>
                        </div>
                        <div class="footer__column-feedback-wrap">
                            <a href="http://neq4.ru/neq4-site-rules.pdf" class="footer__column-feedback">Правила использования сайта</a>
                        </div>
                        <div class="footer__column-feedback-wrap">
                            <a href="http://neq4.ru/neq4-privacy-policy.pdf" class="footer__column-feedback">Политика конфиденциальности</a>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer__column-menu-item">
                            <a href="http://neq4.ru/press" class="footer__column-menu-link" target="_blank">Пресса</a>
                        </div>
                        <div class="footer__column-menu-item">
                            <a href="http://neq4.ru/about" class="footer__column-menu-link" target="_blank">О компании</a>
                        </div>
                        <div class="footer__column-menu-item">
                            <a href="http://neq4.ru/tech" class="footer__column-menu-link" target="_blank">Технологии</a>
                        </div>
                        <div class="footer__column-menu-item">
                            <a href="http://neq4.ru/about/jobs" class="footer__column-menu-link" target="_blank">Вакансии</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__documents">
                <div class="footer__documents-item">
                    <a href="http://neq4.ru/neq4_tariff_for_partners_3q2017.pdf" target="_blank" class="footer__documents-link">Партнерские тарифы на публикацию панорам на Яндекс.Картах</a>
                    <p class="footer__documents-size">135 КБ</p>
                </div>
                <div class="footer__documents-item">
                    <a href="http://neq4.ru/neq4_yandex_publication-rules.pdf" target="_blank" class="footer__documents-link">Требования к панорамам на публикацию</a>
                    <p class="footer__documents-size">107 КБ</p>
                </div>
            </div>
        </div>
    </footer>
    {#/FOOTER#}


</div>

{% block scripts %}
<script src="scripts/app.min.js"></script>
{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22611397 = new Ya.Metrika({
                    id:22611397,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }

      $(document).on('formSent', function (event, category, action) {
        w.yaCounter22611397.reachGoal(action);
      });
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/22611397" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1346961-1', 'auto');
  ga('send', 'pageview');

  $(document).on('formSent', function (event, category, action) {
    ga('send', 'event', category, action, 'Zayavka_otpravlena');
  });
</script>


</body>
</html>