.partners-block {
	margin-bottom: 143px;

	&__title {
		color: #111;
		font-size: 55px;
		.light();
		margin-bottom: 44px;
	}
	&__list {

	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 72px;
	}
	&__item-img {
		max-width: 100%;
		&_2x {
			display: none;
		}
	}
}

@media screen and (max-width: 770px) {
	.partners-block {
		margin-bottom: 90px;

		&__title {
			font-size: 40px;
		}
		&__item {
			display: block;
			max-width: 300px;
			text-align: center;
			margin-right: 0;
			margin-bottom: 50px;
		}
		&__item-img {
			max-width: 100%;
			&_2x {
				display: none;
			}
		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.partners-block {
		&__item-img {
			display: none;
			&_2x {
				display: inline;
			}
		}
	}
}